# Configuração do ambiente de desenvolvimento
NEXT_PUBLIC_NODE_ENV=dev

# ID da sessão padrão
NEXT_PUBLIC_DEFAULT_SESSION_ID=geobot

# API Key do servidor WhatsApp
NEXT_PUBLIC_API_KEY=geoview_henrique

# URLs da API (Backend roda na porta 3001)
NEXT_PUBLIC_WHATSAPP_API_BASE_URL_LOCAL=http://localhost:7000
NEXT_PUBLIC_WHATSAPP_API_BASE_URL=https://sua-api-whatsapp-producao.com

# URLs da API de mensagens (se necessário)
NEXT_PUBLIC_MESSAGE_API_BASE_URL_LOCAL=http://localhost:3001
NEXT_PUBLIC_MESSAGE_API_BASE_URL=https://sua-api-mensagens-producao.com

# NOTA: 
# - Backend (API whatsapp): http://localhost:7000
# - Backend (API mensagens): http://localhost:3001
# - Frontend (Next.js): http://localhost:3000
